@model Carritos
@{
    int v = 1;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                                <nav class="sb-sidenav accordion color" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                             <div class="sb-sidenav-menu-heading text-black-50 fw-bold">Core</div>
                             <a asp-area="" class="nav-link text-white-50 fw-bold" asp-controller="Admin" asp-action="Dasboard">
                                  <i class="fas fa-tachometer-alt"></i> <sapan class="mx-2">Dashboard</sapan>
                              </a>


                             <a class="nav-link collapsed text-white-50 fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        <i class="bi bi-clipboard2-data"></i>  <sapan class="mx-2">Producto</sapan>
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="Producto" asp-action="Articulo">
                                        <i class="bi bi-ticket-perforated"></i> <sapan class="mx-2">Articulo</sapan>
                                    </a>
                                     <a asp-area="" class="nav-link text-white-50" asp-controller="Producto" asp-action="Categoria">
                                        <i class="bi bi-bookmark-star"></i> <sapan class="mx-2">Categoria</sapan>
                                    </a>
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="Producto" asp-action="Proveedor">
                                        <i class="bi bi-truck"></i> <sapan class="mx-2">Proveedor</sapan>
                                    </a>
                                </nav>
                            </div>


                             <a class="nav-link collapsed text-white-50 fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#admin" aria-expanded="false" aria-controls="pagesCollapseError">
                                <i class="bi bi-file-spreadsheet"></i><sapan class="mx-2">Administrar</sapan>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="admin" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="Admistrar" asp-action="Compra">
                                        <i class="bi bi-minecart"></i> <sapan class="mx-2">Compras</sapan>
                                    </a>
                                     <a asp-area="" class="nav-link text-white-50" asp-controller="Admistrar" asp-action="Venta">
                                        <i class="bi bi-bag-check"></i><sapan class="mx-2">Ventas</sapan>
                                    </a>
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="Admistrar" asp-action="Carrito">
                                        <i class="bi bi-cart"></i> <sapan class="mx-2">Carrito</sapan>
                                    </a> 
                                </nav>
                            </div>

                             <a class="nav-link collapsed text-white-50 fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#otros" aria-expanded="false" aria-controls="pagesCollapseError">
                                <i class="bi bi-boxes"></i>  <sapan class="mx-2">General</sapan>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="otros" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="General" asp-action="Cliente">
                                        <i class="bi bi-people"></i> <sapan class="mx-2">Clientes</sapan>
                                    </a>
                                     <a asp-area="" class="nav-link text-white-50" asp-controller="General" asp-action="Empleado">
                                        <i class="bi bi-person-bounding-box"></i> <sapan class="mx-2">Empleados</sapan>
                                    </a>
                                      <a asp-area="" class="nav-link text-white-50" asp-controller="General" asp-action="Usuario">
                                        <i class="bi bi-person-circle"></i> <sapan class="mx-2">Usuario</sapan>
                                    </a> 
                                </nav>
                            </div>
                            <a class="nav-link text-white-50 fw-bold" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content" class="container">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4 text-black-50">Listado de Carrito</h1>
                        <ol class="breadcrumb mb-4">
                           <li class="breadcrumb-item ">
                                <a asp-area="" class="text-black-50" asp-controller="Admin" asp-action="Dasboard">
                                    <i class="bi bi-speedometer2"></i><sapan class="mx-2">Dashboard</sapan>
                                </a> 
                           </li>
                        </ol>

                        @*---------------- Listado de Proveedor ------------------------------------------- *@
                     <div class="container-fluid">
                      @*   ----------------------- Modal para Agregar ------------------------*@

                      <!-- Button trigger modal -->
                            <button type="submit" class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Agregar
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                     <h3 class=" text-center mx-3 texto_login">Agregar Ventas</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">

                                   @* ------------------------- Formulario ------------------------------*@
                                    
                                   <div class="col-sm">
                                            <form asp-controller="Admistrar" asp-action="GuardarCarrito" class="row g-3 p-1">

                                             <div class="col-md-6 mb-3">
                                                        <div class="form-group mb-3">
                                                            <span class="form-text texto_login">Articulo:</span>
                                                            <select asp-for="ArticuloID" class="form-control" asp-items="@(new SelectList(ViewBag.Articulo,"ArticuloId","Nombre"))">
                                                                <option class="nav-link disabled">Seleccionar</option>
                                                            </select>
                                                        </div>  
                                                </div>

                                             <div class="form-outline mb-3">
                                                <span class="form-text texto_login">Cantidad:</span>
                                                <input type="text" asp-for="Cantidad" class="container-fluid p-2 bg-light" placeholder="Cantidad">
                                            </div>


                                             <div class="col-md-6 mb-3">
                                                        <div class="form-group mb-3">
                                                            <span class="form-text texto_login">Usuario:</span>
                                                            <select asp-for="UsuarioID" class="form-control" asp-items="@(new SelectList(ViewBag.usuario,"UsuarioId","Correo"))">
                                                                <option class="nav-link disabled">Seleccionar</option>
                                                            </select>
                                                        </div>  
                                                </div>

                                            <div class="form-outline mb-3">
                                                <span class="form-text texto_login">Fecha:</span>
                                                <input type="date" asp-for="Fecha" class=" p-2 bg-light">
                                            </div>

                                             <div class="container mb-3">
                                                <button type="submit" class="btn btn-outline-primary mt-auto container-fluid" >Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                   @* ----------------------- fin de formulario -------------------------*@

                                  </div>
                                </div>
                              </div>
                            </div>
                     @* -------------------------------- Fin Modal ------------------------------------*@
                        <table class="table table-striped table-responsive text-center" id="tablaArticulo">
                         <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Precio</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Usuario</th>
                              <th scope="col">Fecha</th>
                              <th scope="col" colspan="2">Opciones</th>
                            </tr>
                         </thead>
                         
                       <tbody>
                      @foreach(Carritos cars in ViewBag.carrito)
                        {
                        
                        
                            <tr>
                                <th scope="row">@v</th>
                                <td class="text-center">@cars.Cantidad </td>
                                <td class="text-center">@cars.Articulo.Precio </td>
                                <td class="text-center">@cars.Articulo.Nombre </td>
                                <td class="text-center">@cars.Usuario.Correo </td>
                                <td class="text-center">@cars.Fecha </td>

                                <td>
                                    @Html.ActionLink("","EditCarrito",new{id=@cars.CarritoId},new{@class="bi bi-pencil text-warning btn"}) 
                                    @Html.ActionLink("","DeleteCarrito",new{id=@cars.CarritoId},new{@class="bi bi-trash3 text-danger btn"})
                                    
                                </td>
                           </tr> 
                           
                             v++;
                        }   
                       </tbody>
                        </table>

                    </div>
                </div>
                </main>
            </div>
        </div> 